
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "~leaflet/dist/leaflet.css";

.leaflet-container a.btn-primary {
	color: white;
	font-weight: 700;
}

.leaflet-container a.btn-default {
    color: $text-color;
    font-weight: 700;
}

.leaflet-container {
	font-family: "Roboto"
}
