@font-face {
  font-family: 'US-101';
  src:url('/fonts/US-101.ttf.woff') format('woff'),
      url('/fonts/US-101.ttf.svg#US-101') format('svg'),
      url('/fonts/US-101.ttf.eot'),
      url('/fonts/US-101.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);